<h1 class="display-4 text-center">Top Headlines by Sources</h1>
<hr />
<div class="row">
  <div class="col sidebar">
    <h4>Top 5 Sources</h4>
    <hr />
    <div class="list-group">
      <a
        *ngFor="let article of data?.sources.slice(0, 5)"
        class="list-group-item list-group-item-action"
        (click)="NewsList(article)"
      >
        <h4>{{ article.name }}</h4>
      </a>
      <a class="col-1-4 see-more" routerLink="/news-sources-list">
        See More
      </a>
    </div>
  </div>
  <div class="col-md-9">
    <app-news-list [article]="selectedArticle"></app-news-list>
  </div>
</div>
