[class*="col-"] {
  float: left;
  padding: 0;
}

@media (max-width: 480px) {
  [class*="col-"] {
    float: left;
    margin: 15px;
  }
}

[class*="col-"]:last-of-type {
  padding-right: 0;
}

a:hover {
  cursor: pointer;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  font-size: 18px;
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 100%;
}

.sidebar {
  width: 250px;
}

.see-more {
  text-align: center;
  padding: 5px;
}

.heroes {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
}

.heroes li:hover {
  color: #607d8b;
  background-color: #ddd;
}

.heroes .text {
  position: relative;
  top: -3px;
}

.heroes li {
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: 5px;
  padding: 5px 0;
  border-radius: 4px;
}

.heroes a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  /* width: 250px; */
}

.heroes a:hover {
  color: #607d8b;
}
