<div class="container mb-4" *ngIf="articledetail">
  <div class="row">
    <article class="card mt-2">
      <header class="card-header text-center">
        <div class="card-meta">
          <p>
            <time
              class="timeago"
              datetime="articledetail.publishedAt"
              data-tid="1"
            ></time>
            {{ articledetail.publishedAt | date: "dd/MM/yyyy" }} by
            {{ articledetail.author }}
          </p>
        </div>
        <h2 class="card-title text-dark">{{ articledetail.title }}</h2>
      </header>
      <a [href]="articledetail.urlToImage">
        <img class="card-img" [src]="articledetail.urlToImage" />
      </a>
      <div class="card-body">
        <p class="md-1 text-muted">
          <b>Source :</b> {{ articledetail.source.name }}
        </p>
        <p class="md-1 text-muted">
          <b>URL Link :</b>
          <a href="{{ articledetail.url }}"> {{ articledetail.url }}</a>
        </p>
        <p><b>Content : </b>{{ articledetail.content }}</p>
        <p class="md-1"><b>Description : </b>{{ articledetail.description }}</p>
      </div>
    </article>
  </div>
</div>
