<h1 class="display-4 text-center">Top Headlines by Country</h1>
<hr />
<div class="row">
    <div class="col sidebar">
        <h4>Top News Countries</h4>
        <hr />
        <div class="list-group">
          <a
            *ngFor="let item of country"
            class="list-group-item d-flex justify-content-between lh-condensed"
            (click)="NewsOne(item)"
          >
            <h4 class="my-0">{{ item.name }}</h4>
          </a>
        </div>
    </div>
    <div class="col-md-9">
        <app-news-list [article]="selectedArticle"></app-news-list>
    </div>
</div>

