[class*="col-"] {
  float: left;
  margin-bottom: 25px;
  padding: 0;
}

@media (max-width: 480px) {
  [class*="col-"] {
    float: left;
    margin: 15px;
  }
}

.card {
  height: 360px;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}

.heroes {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
  /*width: 15em;*/
}

.card-img-top {
  height: 200px;
}

.card-title {
  height: 70px;
  font-size: 14px;
}

.detail {
  float: right;
  cursor: pointer;
}
