<div class="heroes">
  <div class="card col-md-4" *ngFor="let article of article?.articles">
    <img class="card-img-top" [src]="article.urlToImage" alt="News Image" />
    <div class="card-body">
      <p class="card-title">{{ article.title }}</p>
      <button
        class="detail btn btn-primary"
        (click)="NewsDetail(article)"
        [class.selected]="article === selectedArticle"
      >
        View Article
      </button>
    </div>
  </div>
</div>
