<h1 class="display-4 text-center">Top Tech News</h1>
<hr />
<div class="row content">
  <div class="col-md-9">
    <div class="heroes">
      <div class="col-md-4" *ngFor="let article of data?.articles.slice(0, 10)">
        <div
          class="card"
          (click)="NewsOne(article)"
          [class.selected]="article === selectedArticle"
        >
          <img class="card-img-top" [src]="article.urlToImage" />
          <div class="card-body">
            <p class="card-text">Source : {{ article.source.name }}</p>
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">
              <small class="text-muted"
                >Published :
                {{ article.publishedAt | date: "dd/MM/yyyy" }}</small
              >
            </p>
            <button
              class="detail btn btn-primary"
              (click)="NewsDetail(article)"
              [class.selected]="articledetail === selectedArticleDetail"
            >
              View Article
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="list-group mb-3">
      <li
        *ngFor="let article of category.slice(0, 3)"
        class="list-group-item d-flex justify-content-between lh-condensed"
      >
        <a routerLink="/news-category/{{ article.id }}">
          <h4 class="my-0">{{ article.name }}</h4>
        </a>
      </li>

      <li class="list-group-item d-flex justify-content-between">
        <a class="col-1-4 float-right readmore" routerLink="/news-category">
          See more
        </a>
      </li>
    </ul>

    <ul class="list-group mb-3">
      <li
        *ngFor="let article of country.slice(0, 3)"
        class="list-group-item d-flex justify-content-between lh-condensed"
      >
        <a routerLink="/news-country/{{ article.id }}">
          <h4 class="my-0">{{ article.name }}</h4>
        </a>
      </li>

      <li class="list-group-item d-flex justify-content-between">
        <a class="col-1-4 float-right readmore" routerLink="/news-country"
          >See more</a
        >
      </li>
    </ul>

    <ul class="list-group mb-3">
      <li
        *ngFor="let article of sources?.sources.slice(0, 3)"
        class="list-group-item d-flex justify-content-between lh-condensed"
      >
        <a routerLink="/news-sources/{{ article.id }}">
          <h4 class="my-0">{{ article.name }}</h4>
        </a>
      </li>

      <li class="list-group-item d-flex justify-content-between">
        <a class="col-1-4 float-right readmore" routerLink="/news-sources"
          >See more</a
        >
      </li>
    </ul>
  </div>
</div>
