[class*="col-"] {
  float: left;
  padding: 5px 10px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  font-size: 18px;
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 100%;
}

.readmore {
  font-size: 16px;
  padding: 0;
  text-align: right;
}

.card .card-body {
  padding: 10px;
}

.card .card-title {
  font-size: 12px;
}

.card-title {
  height: 50px;
}

.card-text {
  font-size: 12px;
  margin-bottom: 5px;
}

.card-img-top {
  height: 150px;
}

.detail {
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  float: right;
}

.content {
  margin: 15px 0;
}

.heroes {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
}

.heroes li {
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 4px;
}

.heroes li:hover {
  color: #607d8b;
  background-color: #ddd;
}

.heroes .text {
  position: relative;
  top: -3px;
}

.heroes a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  /* width: 250px; */
}

.heroes a:hover {
  color: #607d8b;
}
