<h1 class="display-4 text-center">Top Headlines by Categories</h1>
<hr />
<div class="row">
    <div class="col sidebar">
        <h4>Top Categories</h4>
        <hr />
        <div class="list-group mb-3">
          <a
            *ngFor="let item of category"
            class="list-group-item d-flex justify-content-between lh-condensed"
            [class.selected]="article === selectedArticle"
            (click)="NewsList(item)"
          >
            <h4 class="my-0">{{ item.name }}</h4>
          </a>
        </div>
    </div>
    <div class="col-md-9">
        <app-news-list [article]="selectedArticle"></app-news-list>
    </div>
</div>

